#ocean {
    height: 555px;
    width: 1255px;
    position: relative;
    background-color: aquamarine;
}

.player {
    height: 70px;
    width: 60px;
    position: absolute;
    top: 470px;
    right: 600px;
    background-image: url('./images/player.png');

}

.enemy {
    height: 75px;
    width: 70px;
    background-image: url('./images/enemy.png');
    position: absolute;
}

.missile {
    position: absolute;
    height: 15px;
    width: 5px;
    background-color: purple;
    border-radius: 50%;
    margin: 2px;

}